html {
    background-color: rgb(199, 231, 241);
    font-family: Verdana, Arial, Tahoma, Serif;
    overflow-x: hidden; 
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.whiteBox {
    background-color: white;
    position: relative;
    width: 60vw;
    height: 70vh;
}

.greenBox {
    background-color: rgb(27, 164, 109);
    position: relative;
    width: 40vw;
    height: 70vh;
}
.bild {
    max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0px;  
        margin: auto;
}
.bildBereich {
    position: absolute;
    width: 100vw;
    top:0px;
    left:11%;
    height: 70vh;
    z-index: 3;
}

.introTextBox {
    position: relative;
    left: 10vw;
    top: 10vh;
    text-align: left;
    width: 60%;
}

h3 {
    font-size: 15px;
    line-height: 10px;

}

h2 {
    margin-top: -10px;
    line-height: 60px;
    font-size: 50px;
}

p {
    margin-top: -20px;
    font-size: 15px;

}

#Button {
    margin-top: 10px;
    background-color: rgb(27, 164, 109);
    border: none;
    margin-right: 15px;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
#viewPortfolioButton {
    margin-top: 10px;
    background-color: rgb(27, 164, 109);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
#ButtonContact {
    margin-top: 20px;
    background-color: transparent;
    border: 1.5px solid;
    border-radius: 3px;
    border-color: black;
    color: black;
    padding: 13.5px 30.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer; 
}
#ButtonContact:hover {
    background-color: rgb(27, 164, 109);
    color: white;
}
.aboutMeSection {
    position: relative;
    margin-top: 50px;
    top:80vh;
    position: relative;
    left: 50vw;
    text-align: left;
    width: 40%;
}
.sectionTeaser {
    font-size: 10px;
}
.aboutMeTitel {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 30px;
}
.textTitel {
    margin-bottom: 30px;
    font-size: 13px;
}
.text {
    font-size: 10px;
    color: gray;
}
.skills {
        position: relative;
        top:100vh;
        position: relative;
        text-align: center;
        display: flex;
  justify-content: center;
    
}
#skillBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    background-color: white;
    position: relative;
    width: 180px;
    margin-left: 25px;
    margin-bottom: 25px;
    height: 150px;
    border-radius: 3px;

}

.boxContent {
    text-align: left;
    margin-left: 10px;
}
.box img {
    margin-top: 20px;
    width: 70px;
    height: 50px;
}
.box h3 {
    font-size: 11px;
}
.box p {
    margin-top: 15px;
    font-size: 8px;

}

.zertifikate {
    position: relative;
    top:120vh;
    position: relative;
    text-align: center;
    display: flex;
justify-content: center;

}
#zertifikateBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio {
    position: relative;
    top:140vh;
    position: relative;
    text-align: center;
    display: flex;
justify-content: center;

}
#portfolioBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* .flex {
    width: 250px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
    position: relative;

}
.bildClass {
    width: 350px;
        height: 400px;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        
        
} */


